body {
    position: relative;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1.5fr 8.5fr;
  }
  
  .item {
    background-color: #93b874;
    box-shadow: 1px 1.2px 2.5px rgb(128, 125, 125);
  }
  
  .item:first-child {
    position: fixed;
    top: 0;
    width: 100%;
    grid-column: 1 / span 2;
    padding: 0.6rem 0rem;
  
  }
  
  .flex-nav {
    display: flex;
    justify-content: space-between;
    margin: 0rem 1rem;
  }
  
  .item:nth-child(2) {
    margin-top: 4rem;
    height: 79vh;
    margin-right: 0.5rem;
  }
  
  .item:nth-child(3) {
    background-color: #fff;
    margin-top: 4rem;
    height: 79vh;
    display: flex;
    flex-direction: column;
  
  }
  
  #section .header {
    background-color: #6d8658;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 0rem;
  }
  
  #section .header h4{
    margin-left: 1rem;
  }
  
  #section .header a{
    margin-right: 1rem;
  }
  
  .item:last-child {
    position: fixed;
    bottom: 0;
    width: 100%;
    grid-column: 1 / span 2;
    margin-top: 0.5rem;
    padding: 0.9rem 0rem;
    text-align: center;
  }

  
.table{
    margin-top: 0.3rem;
  }
  
  .table thead{
    background-color: #86cfda;
  }
  
  .table tbody tr:nth-child(even){
    background-color: #c3e6cb;
  }
  
  .table tbody tr:nth-child(odd){
    background-color: rgba(0,0,0,.075);
  }
  
  .table tbody tr:hover{
     background-color:#fff;
  }
  
  .table tbody tr td{
    border: 3px solid #fff;
  }
  
  .table thead tr th{
    border: 3px solid #fff;
  }