.grid {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-areas:
      'navbar navbar navbar navbar'
      'section section section section'
      'footer footer footer footer'
    ;
  }

  .item {
    background-color: #93b874;
    box-shadow: 1px 1.2px 2.5px rgb(128, 125, 125);
    padding: 0.8rem;
  }

  #navbar {
    position: fixed;
    top:0;
    width: 100%;
    grid-area: navbar;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #section {
    margin-top: 3.95rem;
    background-color:rgb(248, 252, 250);
    border: 0.1px solid rgb(233, 229, 229);
    height: 78vh;
    grid-area: section;
  }

  #footer {
    text-align: center;
    position: fixed;
    padding: 0.9rem;
    border-top: 1px solid rgb(128, 125, 125);
    bottom: 0;
    width:100%;
    grid-area: footer;
  }
