.sidebar-nav {
    background-color: #cde6ba;
    color: rgba(0, 0, 0, 0.85);
    height: 100%;
    z-index: 10;
}

.sidebar-nav h4 {
    background-color: #6d8658;
    color:#fff;
    text-align: left;
    padding: 10px 10px;
}

.sidebar-nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-nav ul li {
    position: relative;
}

.btn-li:hover,
.btn-li:focus {
    color: rgba(0, 0, 0, 0.85);
    background-color: #fff;
}

.sidebar-nav ul li a {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65);
    text-decoration: none;
    display: block;
    padding: 5px;
    transition: background 0.3s;
}

.sidebar-nav ul li a:focus,
.sidebar-nav ul li a:hover {
    color: rgba(0, 0, 0, 0.85);
    background-color: #fff;
}

.btn-li {
    display: inline-flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65);
    background-color: transparent;
    border: 0;
}

.btn-li::after {
    width: 1.25em;
    line-height: 0;
    margin-left: 0.5rem;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform 0.35s ease;
    transform-origin: 0.5em 50%;
}

.btn-li[aria-expanded="true"] {
    color: rgba(0, 0, 0, 0.65);
}

.btn-li[aria-expanded="true"]::after {
    transform: rotate(90deg);
}

.scrollarea {
    overflow-y: auto;
}

.show {
    display: block;
}